.optionsTab{
    margin: 25px;
    margin-top: -9px;
    padding: 0;
}
.optionsTab>li{
    display: inline-block;
    color: #666;
    margin: 0 18px;
    list-style: none;
    cursor: pointer;
}
.optionsTab>li:hover{
    color:#fff;
}
