.TodoInput{
  width: 50%;
  line-height: 2.5;
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid #4dd2c5;
  background: #fff;
}
.TodoInput:before,.TodoInput:after{
  content: '';
  position: absolute;
  top: 0;
  height: 10px;
  width: 1px;
  background: #4dd2c5;
}
.TodoInput:before{
  right: 0;
}
.TodoInput:after{
  left: 0;
}
.TodoInput:focus{
  border: none;
  outline: none;
}