.TodoInput{
  width: 100%;
  line-height: 2.5;
  margin-bottom: 1.2em;
  font-size: 16px;
  padding: 0 .2em;
  outline: none;
  border-radius: 7px;
  font-size: 1.2em;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}