.TodoItem{
  position: relative;
  height: 5.2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 1em;
  border-bottom: 1px dashed #ccc;
}
.TodoItem>.title{
  text-align: center;
}
.TodoItem .content{
  height: 100%;
  font-size: 1.2em;
}
.TodoItem .options{
  display: flex;
  align-items: center;
}
.TodoItem .options .iconDelete{
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.TodoItem .options input[type=checkbox]:checked +svg {
  display: block;
}
 .TodoItem .options .completed{
    display: none;
    position: absolute;
    left: -2px;
    top: -10px;
    width: 29px;
    height: 41px;
} 
.TodoItem .options input[type=checkbox]{
   visibility: hidden;  
}
.TodoItem .options label{
  display: block;
  position: absolute;
  top: 25px;
  border-radius: 50%;
  border: 3px solid #505050;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: transparent;
}
.TodoItem .options label:first-child{
  left: 25px;
}
.TodoItem .options label:nth-child(2){
  right: 52px;
}
.TodoItem .options label:nth-child(2)::before{
  content: '';
  display: block;
  position: absolute;
  right: 3px;
  top: 5px;
  width: 9px;
  height: 9px;
  border: 3px solid #505050;
  border-top: transparent;
  border-right: transparent;
}
.TodoItem .tag{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}