.UserDialog-Wrapper{ 
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0; 
  right: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .UserDialog{
   border-radius: 4px;
   min-width: 21em;
   border: 1px solid #aaa;
   -webkit-box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
   box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
 }
 .UserDialog > .panes {
    padding: 1.4em;
    padding-bottom: 1.8em;
 }
 
 .UserDialog form>.row{
    padding: .3em 0;
 }
.UserDialog form>.row input::-webkit-input-placeholder{ 
    color:    #fff;
}
.UserDialog form>.row input:-moz-placeholder{ 
    color:    #fff;
}
.UserDialog form>.row input::-moz-placeholder{ 
    color:    #fff;
}
.UserDialog form>.row input:-ms-input-placeholder{ 
    color:    #fff;
}
 .UserDialog form>.row input{
  width: 15.2em;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #f2f7f2;
  line-height: 1.8em;
  color: #fff;
 }
 .UserDialog form>.row.actions button{
   width: 15.2em;
    color: #fff;
    border: none;
    outline: none;
    background: #009688;
    padding: 0.4em;
    margin: 10px 0;
 }
 .UserDialog form>.row.actions a{
   color: #fff;
   padding: 1.7em
 }
 .UserDialog form>.row.actions a:hover{
   color: #009688;
 }